::ng-deep .routine-dropdown .p-dropdown {
	width: 100%;
}

::ng-deep .routine-calendar .p-calendar {
	width: 100%;
}

::ng-deep .routine-color-picker .p-colorpicker {
	margin-top: 16px;
}

::ng-deep .p-card-content {
	padding: 0 !important;
}
